<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  
    <style>
      body {
        background-color: #eeeeee;
      }
    </style>

    <link rel="stylesheet" 
        href="{{ "/assets" | prepend: site.baseurl }}/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" 
        href="{{ "/assets" | prepend: site.baseurl }}/font-awesome/font-awesome.min.css">

    <script src="{{ "/assets" | prepend: site.baseurl }}/webcomponents/webcomponents-lite.js"></script>
    <script src="{{ "/assets" | prepend: site.baseurl }}/jquery/jquery.js"></script>
    <script src="{{ "/assets" | prepend: site.baseurl }}/bootstrap/bootstrap.js"></script>

    <link rel="import" href="{{ "/assets" | prepend: site.baseurl }}/quantum/warp10-components.html">

    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/{{ site.filename }}.css">
    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/{{ site.filename }}-navbar.css">
    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/syntax.css">
  
    <style>
      :host {
        display: block;
      }
      .top-10 { margin-top:10px; }
      h4 {
        font-weight: bold;
      }
      .list-group-item {
        cursor: pointer;
      }
    </style>
  </head>
  