<div id="panel-step-0" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-0">
                0 - Exoplanets
            </a>
        </h4>
    </div>
    <div id="collapse-step-0" class="panel-collapse collapse {% if (page.category == 'step-0')  %} in {% endif %}">
        <div class="list-group">

            <a class="list-group-item" href="{{ site.baseurl }}/step-0-Exoplanets-and-where-to-find-them/">
                Exoplanets and where to find them
            </a>

        </div>

    </div>
</div>