<div id="panel-step-3" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-3">
            3 - WarpScript frameworks
        </a>
        </h4>
    </div>
    <div id="collapse-step-3" class="panel-collapse collapse {% if (page.category == 'step-3')  %} in {% endif %}">
        <div class="list-group">
    
        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-3-WarpScript-Frameworks/3.1-Filter-framework/">
            Framework <i>FILTER</i>
        </a>

        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-3-WarpScript-Frameworks/3.2-Bucketize-framework/">
            Framework <i>BUCKETIZE</i>
        </a>

        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-3-WarpScript-Frameworks/3.1-Map-framework/">
            Framework <i>MAP</i>
        </a>
    
        </div>
    
    </div>
</div>
    