<div id="panel-step-4" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-4">
                4 - First exoplanet detection
            </a>
            </h4>
        </div>
        <div id="collapse-step-4" class="panel-collapse collapse {% if (page.category == 'step-4')  %} in {% endif %}">
            <div class="list-group">
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-4-First-Exo-Detection/4.1-Yet-another-framework-APPLY/">
                    Yet another framework: <i>APPLY</i>
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-4-First-Exo-Detection/4.2-Compute-the-difference-between-the-lightcurve-and-the-trend/">
                    Compute the difference between the lightcurve and the trend
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-4-First-Exo-Detection/4.3-Threshold-test-and-display/">
                    Threshold test and display
                </a>
                
            </div>
        
        </div>
    </div>
        