<div id="panel-step-1" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-1">
                1 - WarpScript
            </a>
        </h4>
    </div>
    <div id="collapse-step-1" class="panel-collapse collapse {% if (page.category == 'step-1')  %} in {% endif %}">
        <div class="list-group">

            <a class="list-group-item" href="{{ site.baseurl }}/step-1-WarpScript/1.1-Getting-started-with-WarpScript/">
                Getting started with WarpScript
            </a>

            <a class="list-group-item" href="{{ site.baseurl }}/step-1-WarpScript/1.2-Introducing-the-Variables/">
                Introducing the variables
            </a>

            <a class="list-group-item" href="{{ site.baseurl }}/step-1-WarpScript/1.3-Manipulate-a-data-list/">
                Manipulate a data list
            </a>

        </div>

    </div>
</div>