<div id="panel-step-5" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-5">
                5 - Process all the stars
            </a>
            </h4>
        </div>
        <div id="collapse-step-5" class="panel-collapse collapse {% if (page.category == 'step-5')  %} in {% endif %}">
            <div class="list-group">
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-5-Process-all-stars/5.1-WarpScript-loops/">
                    WarpScript loops
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-5-Process-all-stars/5.2-Optimize-global-analysis/">
                    Optimize global analysis
                </a>
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-5-Process-all-stars/5.3-Reformat-the-output/">
                    Reformat the output
                </a>
                
            </div>
        
        </div>
    </div>
        