<div id="panel-step-2" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-2">
            2 - Kepler's Data
        </a>
        </h4>
    </div>
    <div id="collapse-step-2" class="panel-collapse collapse {% if (page.category == 'step-2')  %} in {% endif %}">
        <div class="list-group">
    
        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-2-Keplers-Data/2.1-Did-you-said-Time-Series/">
            Did you say Time Series?
        </a>

        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-2-Keplers-Data/2.2-Exploring-known-time-series/">
            Exploring known time-series
        </a>

        <a class="list-group-item" 
            href="{{ site.baseurl }}/step-2-Keplers-Data/2.3-Getting-Kepler-11-raw-data/">
            Getting Kepler-11 raw data
        </a>
    
        </div>
    
    </div>
</div>
    