<div id="panel-step-6" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-step-6">
                6 - Where no man has gone before...
            </a>
            </h4>
        </div>
        <div id="collapse-step-6" class="panel-collapse collapse {% if (page.category == 'step-6')  %} in {% endif %}">
            <div class="list-group">
        
                <a class="list-group-item" 
                    href="{{ site.baseurl }}/step-6-Going-further/">
                    Where no man has gone before...
                </a>
                        
            </div>
        
        </div>
    </div>
        