.navbar-separator {
    width:100%;
    height:75px;
}

.navbar-inverse {
     background-color: #28b6d8;
     background-image: linear-gradient(to bottom, #28b6d8 0%, #28b6d8 100%);
     border-color: #00222b;
}


.navbar-inverse .navbar-link,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a
{
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #aaeeff;
    background-image: linear-gradient(to bottom, #aaeeff 0%, #aaeeff 100%);
    color: #404040;
}
.navbar-inverse .navbar-brand {
    font-weight: bold;
    font-size: 18px;
}

.navbar-inverse .navbar-brand .small {
    font-size: 16pt;
}



[class^="icon-"], [class*=" icon-"] {
  font-family: 'CityzenData-Icon-Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CityzenData:before {
  content: "\e605";
}

#icon {
  font-size: 2em;
}

.navbar-id-icon span{
    margin-right: 0.5em;
}

.navbar-id div {
  display: inline-block;
}


.navbar, .navbar-header, .navbar-brand, .navbar-id, .navbar .container {
  min-height: 75px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-id {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 10px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 75px;
}

.navbar-nav > div {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 75px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }


vertical-align: middle;
#icon-CityzenData {
  font-size: 2em;
}
